.modal {

    &--background {
        position: fixed;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blue; //background-color: #141414;
    }
}