.movie {
    position: relative;
    width: 300px;
    height: 437px;
    transition: transform 0.2s;
    
    &:hover {
        transform: scale(1.1);
    }

    &--image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
   

    &--favourite {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(43, 42, 42, 0.8);
        text-align: center;
        padding: 5px;
    }
}